<!DOCTYPE html>
<html>

<head>
    <title>Top Albums</title>
    <style type="text/css">
    	.highlight{
    		background: YELLOW;
    	}

    </style>
</head>

<body>
    <h1>Top 100 Albums of all Time</h1>
    <form >
    	<input type="text" name="index">
    	<input type="submit">
    </form>
    <a href="?sort_by=rank" class="<%= @sort_by_ = 'rank' %>">rank</a> <a href="?sort_by=title">title</a> <a href="?sort_by=year">year</a>
    <% @highlighted_list.each do |album|%>
    <%= album %>
    <% end %>
</body>
</html>
